@import "./../App.scss";

/** Expertise page */

.expertise {
  background-color: $primary-color;
  margin: 0 auto;
  padding-top: 100px;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: $font-color;

  }
}

.expertise-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Trois lignes égales */
  // grid-gap: 0;
  margin-bottom: 40px;
}

.expertise-card {
  background-color: $primary-color;
  width: 355px;
  padding: 20px;
  text-align: center; 
  margin: 20px !important;
  box-shadow: 2px 5px 0.5px rgba(0, 0, 0, 0.114);
  color: $font-color;

  .expertiseCardHeader{
    i {
      font-size: 2.5rem;
    }
  
    h2 {
      text-align: left;
      &.expertiseTitle-0{
        &::first-line{
          text-decoration: underline;
          text-decoration-color: #ff5934;
          text-decoration-thickness: 6px;
          text-underline-offset: 1px;
        }
       
      }
      &.expertiseTitle-1{

        &::first-line{
          text-decoration: underline;
          text-decoration-color: #4baeff;
          text-decoration-thickness: 6px;
          text-underline-offset: 1px;
        }
        
  
      }
      &.expertiseTitle-2{
        &::first-line{
          text-decoration: underline;
          text-decoration-color: #ffc926;
          text-decoration-thickness: 6px;
          text-underline-offset: 1px;
        }
      }
    }

  }

}

.skillContainer{
    img{
      width: 80px;
  }
}

/** Home */

div.HomeContainer{
  div.text-container{
    z-index: 1;
    color:$primary-color;
    padding-top: 300px;
    h1{
      font-weight:900;
      font-size: 5rem;
    }
    p{
      font-size: 2rem;
    }
  
  }
  div.background-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./../../public/img/bg-code.jpg");
    background-size: cover;
    background-position: center;
    filter:blur(1.5px) grayscale(1);
  }
}

/**Contact*/
div.ContactContainer{
	background-image: url("./../../public/img/bg-light.jpg");
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;	
	div.text-container{
		max-width: 1100px;
		margin: 0 auto;
		padding-top: 5vh;
		color:white;
		min-height: 100vh;
		z-index: 1;
		padding-top: 300px;
		h1{
			font-size: 4rem;
		}
		p{
			font-size:2.5rem;
		}
		a{
			color:$font-color2;
			filter:none;
		}
  	}
}

/** About */
div.AboutContainer{
	margin: 0 auto;
	padding-top: 8vh;
	color:$primary-color;
	min-height: 100vh;
	background-color: rgb(39, 81, 164);

	section.about{
		margin-left: 300px;
		margin-bottom: 8vh;
	}

	section.skills{
		background-color: $primary-color;
		padding-top:40px;
		padding-left: 150px;
		padding-right: 150px;
		h1{
			color:$font-color;
			font-size:3rem;
		}

		.skillContainer{
			img{
			  width: 80px;
			  margin: auto;
			}
			p{
				color:$font-color;
				text-align: center;
			}
		}
	}

	div.text-container{
		width: 700px;
	}

	img{
		margin-left: 70px;
		width: 400px;
		border-radius: 50%;
	}
}


@media only screen and (min-width: 901px) and (max-width:1400px) {
	div.HomeContainer{
		div.text-container{
			padding-top: 200px;
			h1{
				font-size: 4rem;
			}
			p{
				font-size: 2.2rem;
			}
		}
	}
	
}

@media only screen and (min-width: 631px) and (max-width:900px) {
	div.HomeContainer{
		div.text-container{
		padding-top: 170px;
		padding-left: 30px;
		padding-right: 30px;
			h1{
				font-size: 3rem;
			}
			p{
				font-size: 2rem;
			}
		}
	}
}

@media only screen and (min-width: 431px) and (max-width:630px) {
	div.HomeContainer{
		div.text-container{
			padding-top: 150px;
			padding-left: 30px;
			padding-right: 30px;
			h1{
				font-size: 2.5rem;
			}
			p{
				font-size: 1rem;
			}
		}
	}
}

//*Smartphone device*/
@media only screen and (min-width: 0px) and (max-width:430px) {
	div.HomeContainer{
		div.text-container{
			padding-top: 150px;
			padding-left: 30px;
			padding-right: 30px;
			h1{
				font-size: 2.5rem;
			}
			p{
				font-size: 1rem;
			}
		}
	}

	div.AboutContainer{
		padding-top: 80px;
		flex-direction: column;
		align-items: center;
		div.text-container{
			width: 100%;
			font-size: 0.9rem;
			padding-left: 30px;
			padding-right: 30px;
			word-wrap: break-word
		}
	
		img{
			display: none;
			
		}
	}

	.expertise-grid {
		display: grid;
		grid-template-columns: 1fr; /* Trois lignes égales */
		// grid-gap: 0;
		margin-bottom: 40px;
	  }

	div.ContactContainer{
		div.text-container{
			padding-top: 200px;
			padding-left: 30px;
			padding-right: 30px;

			h1{
				font-size: 2.5rem;
			}
			p{
				font-size:1.5rem;
			}
		}
	}
}